# .aliases for ubuntu root user
# Author: Haoran Geng

# User specific aliases and functions
# To ignore alias, run cmd prepened with \
# or disable an alias altogether with unalias
# To get alias def, just use alias name
# alias name='' or name="" both ok

alias sudo='sudo '
alias l='ls -CF'
alias ll='ls -AhF'
alias lll='ll -l'
alias la='ls -A'
alias sl='ls'
alias cdb='cd ..'
alias cdbb='cd ../..'
alias cdbbb='cd ../../..'
alias cdbbbb='cd ../../../..'
alias cdbbbbb='cd ../../../../..'
# alias dc='cd'

alias mv='mv -i'
alias cp='cp -i'
# Do not alias rm -vI. Cuz if you used to it, 
# you will expect rm prompt you by default
# So do not change the original behavior of rm
# alias rm='rm -vI'
alias rm='echo "rm is disabled. use remove."'
alias remove='/usr/bin/rm -vI'
alias removegit='remove -rf .git'

alias mkdir='mkdir -p'
alias df='df -h'
alias xo='xdg-open'

alias v='vim'
alias ty='typora'

