# .aliases for ubuntu
# Author: Haoran Geng

# User specific aliases and functions
# To ignore alias, run cmd prepened with \
# or disable an alias altogether with unalias
# To get alias def, just use alias name
# alias name='' or name="" both ok

########## SHELL ##########

function clsourquotes() {
	clear
	source ~/.randomquotes;
	# source ~/.randomquotes | lolcat # dont change
}

function cdpluslscf() {
    cd $1
    ls -CF
}

alias sudo='sudo '
alias clr='clsourquotes'
alias l='ls -CF'
alias ll='ls -AhF'
alias lll='ll -l'
alias la='ls -A'
alias sl='sl -e'
alias c='cd'
alias cl='cdpluslscf'
alias cb='cd -'
# TODO: add f,ff,fff,ffff function
# use pwd to store current path when use b,bb,bbb
# use cd - and cd ../../.. to achieve f,ff,fff
# OR: add a CLI version of reahat browser GUI
# you can use bash parameter ${OLDPWD}
alias b='cd ..'
alias bb='cd ../..'
alias bbb='cd ../../..'
alias bbbb='cd ../../../..'
alias bbbbb='cd ../../../../..'
alias ttt='exit'
# alias dc='cd'

alias mv='mv -i'
alias cp='cp -i'
alias grep='grep -i'
alias fr='findregex'
alias sed='sed -r'
# Do not alias rm -vI. Cuz if you used to it, 
# you will expect rm prompt you by default
# So do not change the original behavior of rm
# alias rm='rm -vI'
alias rm='echo "rm is disabled. use remove."'
alias remove='/usr/bin/rm -vI'
# alias remove='/usr/bin/rm -vi'
# use sudo removegit
alias removegit='remove -rf .git'

alias mkdir='mkdir -p'
alias df='df -h'
alias dush='du -sh *'
alias xo='xdg-open'
alias so='source'
# alias sed='sed -E'
alias gputop='watch -n 1 -d nvidia-smi'

########## tmux ##########

# fail to kill all sessions
# tmls | sed -E 's/^(.*):.*windows.*$/\1/' | xargs tmk
# can use tmux kill-server!
function killmanytmuxsessions() {
    for sessname in $@; do
        echo "killing $sessname"
        tmux kill-session -t $sessname
    done
}

alias tm='tmux'
alias tms='tmux new -s'
alias tma='tmux attach -t' # = tmux a -t
alias tmk='killmanytmuxsessions'
alias tmkall='tmux kill-server'
alias tmls='tmux ls'

########## git ##########

function gadplusgcm() {
    git add .
    git commit -m $1
}

function gadplusgcmplusgp() {
    git add .
    git commit -m $1
    git push
}

function ysyxpush() {
    git checkout master
    git push
    git checkout pa0
    git push
    git checkout tracer-ysyx2204
    git push
    git checkout pa0
}

function ysyxpull() {
    git checkout master
    git pull
    git checkout pa0
    git pull
    git checkout tracer-ysyx2204
    git pull
    git checkout pa0
}

alias gs='git status'
alias gp='git push'
alias gl='git pull'
# unalias gl
# alias gpl='git pull'
alias gad='git add .'
alias gcm='git commit -m'
alias gdf='git diff'
alias gac='gadplusgcm'
alias gacp='gadplusgcmplusgp'
alias glog='git log'
alias gref='git reflog'
alias gldag='git log --all --graph --decorate'
alias grrc='git rm -r --cached .'
alias ypull='ysyxpull'
alias ypush='ysyxpush'

########## applications ##########

function geditruninbg() {
    gedit $1 &
}

function typoraruninbg() {
    typora $1 &
}

function zathuraruninbg() {
    zathura $1 &
}

alias v='vim'
alias typora='typoraruninbg'
alias ty='typora'
alias za='zathura'
alias ge='geditruninbg'
# alias gedit='geditruninbg'
alias vr='verilator'
alias gw='gtkwave'
# force install packages. use like sudo aptforce install clang
alias aptforce='aptitude'
alias njuvpn='easyconnect &'
# alias firefox='firefox'
alias chrome='google-chrome-stable'
# my minecraft accountname: exaithrg
alias mc='prime-run minecraft-launcher'
# alias mc='prime-run minecraft-launcher > /dev/null 2> /dev/null &'
# alias scs='gnome-screenshot -a'
# alias matr='cmatrix -r'
# alias matg='cmatrix'

alias condaenv='conda env list'
alias condaact='conda activate'
alias condadeact='conda deactivate'

alias py='python3'
# python -m ipdb hello.py
# pip install ipdb

